@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto|Montserrat&display=swap');

/* UNIVERSAL SELECTORS */

* {
  /* Reset margins */
  margin: 0;
  padding: 0;

  /* Add smoothness to all elements */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  /* Set border-box for box-sizing for margin and padding purposes */
  /* Let box-sizing be inherited from html: This makes it easier to change box-sizing in plugins or other components that leverage other behavior. */
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;

  /* No annoying repeat images for backgrounds */
  background-repeat: no-repeat;

  /* Set position as relative yet change it to whatever we like afterwards */
  position: relative;

  /* Vertical align all elements by default */
  vertical-align: middle;
}

  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

/* GENERAL SELECTORS */

html {
  font: calc(1rem + 1vw) 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  place-items: center center;
}

a {
  text-decoration: none;
}

/* Use unset Instead of Resetting All Properties */
button {
  all: unset;
  padding: 0.5em 1.5em;
  color: #FAFAFA;
  box-shadow: 0 5px 0 0 rgb(112, 112, 112);
  font-size: 0.5rem;
  background-color: rgb(128, 128, 128);
  transition: all 0.2s ease;
  /* border-radius: 5px; */
}

button:hover {
background-color: rgb(144, 144, 144);
cursor: pointer;
}

button:active {
  transform: translateY(5px);
  box-shadow: none;
}

/* TEST SOME SELECTORS */

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
}

body::-webkit-scrollbar-thumb {
background-color: rgba(128, 128, 128, 0.5);
outline: 10px solid rgba(128, 128, 128, 0.5);
}

a:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}

::selection {
  background-color: hsla(120, 0%, 50%, 0.5);
  color: #f1f1f1;
}

/* p {
  max-width: 65ch;
} */

/* Use :not() to Apply/Unapply Borders on Navigation
Instead of putting on the border... */

/* add border */
.nav li {
  border-right: 1px solid #666;
}

/* ...and then taking it off the last element... */
/* remove border */
.nav li:last-child {
  border-right: none;
}

/* ...use the :not() pseudo-class to only apply to the elements you want: */
.nav li:not(:last-child) {
  border-right: 1px solid #666;
}

/* Set :focus for Form Elements */
/* Sighted keyboard users rely on focus to determine where keyboard events go in the page. Make focus for form elements stand out and consistent then a browser's default implementation: */
a:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  /* outline: rgba(0, 0, 0, 0.1) solid 2px; */
}

/* ul > li:not(:last-child)::after {
  content: ",";
} */

html {
  scroll-behavior: smooth;
}